.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 94%;
}

.title {
  font-size: 28px;
}

.img {
  width: 430px;
  height: 460px;
}

@media (max-height: 800px) {
  .img {
    width: 330px;
    height: 360px;
  }
}

@media (max-height: 650px) {
  .img {
    width: 230px;
    height: 260px;
  }
}
