.playground {
  width: 100%;
  height: calc(var(--height-main) - 35px);
  display: flex;
  justify-content: space-between;
}

.solution {
  width: 49.5%;
  height: var(--height-main);
  margin-top: 35px;
}
